body {
    margin: 0px;
    font-family: 'Koh Santepheap', cursive; 
}

div, input, textarea {
    box-sizing: border-box;
}

p,h4,h3,h2,h1,span {
    transform: rotate(0.003deg);
}

.test {
    /* width: 50vw;
    height: 100vh;
    background-color: gray; */
}
/* width : vw -> 브라우저 폭에 비례 */
/* height : vh -> 브라우저 높이에 비례 */
/* rem -> 기본 폰트사이즈에 비례  */
/* ex : width : 10 rem -> html 태그 폰트사이즈의 10배 */
/* html 의 기본 폰트 픽셀은 16px 이다. */
/* 따라서 20rem 은 대략적으로 320px */

.clear {
    clear: both;
}

.nav-container {
    display: flex;
    height: 50px;
    background-color: burlywood;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    font-size: 20px ;
    font-weight: 900;
    padding: 25px;
    text-align: center;
}

.nav-item:nth-child(1) {
    flex-grow: 3;
    text-align: start;
}

.main-background {
    width: 100%;
    height: 500px;
    background: url(shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    text-align: center;
    padding: 30px;
    /* padding을 줌으로 margin-collpase현상 해결 */
    position: relative;
}

.main-title{
    color: white;
    font-size: 40px;
    /* margin-top: 200px; */
    /* ㄴ margin collapse 현상 */
    /* div와 h4둘다 박스이기때문에 윗 테두리가 겹치므로 margin시작 점이 동일하다 */
    text-align: center;
}

.main-content {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
}

.main-slogan {
    padding: 30px;
    background-color: rgb(255, 242, 218);
    /* height: fit-content; */
    width: 40%;
    max-width: 70%;
    position: relative;
    top: -40px;
    text-align: center;
    /* left: 0;
    right: 0; */
    margin: auto;    
}

.product-container {    
    max-width: 1000px;
    width: 80%;
    height: 20vh;
    margin: auto;
}

.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.product-item {
    text-align: center;
    float: left;
    width: 25%;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.shop-container {
    display: flex;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    
    /* Overflow로 hidden 을 줌으로써 overlay-black이 */
    /* 다른 영역에 침범해서 자리를 차지하고있는걸 안보이게 만든다 */
    overflow: hidden;
}


.overlay-black {
    width: 100%;
    height: 100%;    
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    /* margin top을 최대한 주고 hover했을시 */
    /* 위로 올라오는 것처럼 주는 착각 효과를 준다 1/2 */
    margin-top: 350px;

    /* font 구성 */
    color: white;
    font-size: 200%;
    padding-top: 20px;
    padding-left: 40px;
}

.overlay-wrap:hover .overlay-black{

    /* margin top을 최대한 주고 hover했을시 */
    /* 위로 올라오는 것처럼 주는 착각 효과를 준다 2/2 */
    margin-top: 130px;
}


.shop-item {
    width: 33%;
    height: 100%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}


.form-background {
    margin: auto;
    margin-top: 50px;
    background-color: rgb(51, 49, 49);
    padding: 30px;
    border-radius: 15px;
}

.form-white {
    width: 80%;
    max-width: 600px;    
    background-color: whitesmoke;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.send-btn {
    padding: 20px;
    display: block;
    margin-left: auto;
    background-color: rgb(238, 183, 163);
    border : none;
    border-radius: 10px;
}

/* Tablet 사이즈 */
@media screen and (max-width: 1200px) {

    .main-title {
        font-size: 30px;
    }

    .product-item {
        width: 50%;
    }

    .product-container {
        max-width: 600px;
    }
}

/* Mobile 사이즈 */
@media screen and (max-width: 768px) {
    .product-item {
        /* float: none; */
        width: 100%;
        /* display: inline-block; */
    }
}