body {
    margin: 0px;
    font-family: 'Koh Santepheap', cursive; 
}

div, input, textarea {
    box-sizing: border-box;
}

p,h4,h3,h2,h1,span {
    transform: rotate(0.003deg);
}

.clear {
    clear: both;
}

.nav-container {
    display: flex;
    height: 50px;
    background-color: indianred;

    align-items: center;
}

.nav-item {
    flex-grow: 1;
    color: ivory;
    font-size: 20px ;
    padding: 25px;
    text-align: center;
}

.nav-item:nth-child(1) {
    flex-grow: 3;
    text-align: start;
}

.main-background {
    width: 100%;
    height: 500px;
    background: url(shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(100%);
    text-align: center;
    padding: 30px;
    /* padding을 줌으로 margin-collpase현상 해결 */
    position: relative;
}

.main-title{
    color: white;
    font-size: 40px;
    /* margin-top: 200px; */
    /* ㄴ margin collapse 현상 */
    /* div와 h4둘다 박스이기때문에 윗 테두리가 겹치므로 margin시작 점이 동일하다 */
    text-align: center;
}

.main-content {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
}

.main-slogan {
    padding: 30px;
    background-color: rgb(255, 242, 218);
    /* height: fit-content; */
    width: 40%;
    max-width: 70%;
    position: relative;
    top: -40px;
    text-align: center;
    /* left: 0;
    right: 0; */
    margin: auto;    
}

.form-background {
    background-color: rgb(51, 49, 49);
    padding: 30px;
    border-radius: 15px;
}

.form-white {
    width: 80%;
    max-width: 600px;    
    background-color: whitesmoke;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.send-btn {
    padding: 20px;
    display: block;
    margin-left: auto;
    background-color: rgb(238, 183, 163);
    border : none;
    border-radius: 10px;
}