h4, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Scheherazade New', serif;
}

div, input, textarea {
    box-sizing: border-box;
    transform: rotate(0.003deg
    );
}

.nav-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 위의 4줄이 바로 궁극의 중앙위치법. */
    background-color: cadetblue;
}

.nav-item {
    background-color: rgb(200, 223, 223);
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
}

/* Breakpoint Recommendation */

/* 1200px / 992px / 768px / 576px */

@media screen and (max-width : 992px) {
    .nav-container {
        flex-wrap: wrap;
    }
}
/* 
@media screen and (min-width : 768px) {
    .nav-container {
        flex-wrap: wrap;
    }
} */

@media screen and (max-width : 576px) {
    .nav-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}



/* @media screen and (max-width : 768px) {
    .nav-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
} */